<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <script
  src="https://kit.fontawesome.com/c3be80bb5c.js"
  crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <title>Todo List</title>
</head>
<body>
  <div class="container" id="app">
    <header>
      <h1>Todo List</h1>
    </header>
    <form autocomplete="off">
      <div class="input-field">
        <input type="text" id="inputTodo" v-model.trim="textTodo">
        <button class="todo-button" @click.prevent="addTodo">
          <i class="fas fa-plus"></i>
        </button>
      </div>
      <div class="select">
        <select name="todos" class="filter-todo" v-model="selected">
          <option value="all">All</option>
          <option value="completed">Completed</option>
          <option value="uncompleted">Uncompleted</option>
        </select>
      </div>
    </form>
    
    <div class="todo-container">
      <ul class="todo-list" >
        <div class="todo" v-for="todo in todos">
          <li class="todo-item">{{todo}}</li>
          <button class="complete-btn" @click="completed">
            <i class="fas fa-check"></i>
          </button>
          <button class="trash-btn" @click="removeTodo">
            <i class="fas fa-trash"></i>
          </button>
        </div>
      </ul>
    </div>
  </div>

  <script src="./assets/js/script.js"></script>
</body>
</html>